@import "tailwindcss";


::-webkit-scrollbar {
  display: none;
}

html {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

@layer utilities {
  .animate-spin-clockwise {
    animation: spinClockwise 1.2s linear infinite;
  }

  .animate-spin-counter {
    animation: spinCounter 1.6s linear infinite;
  }

  @keyframes spinClockwise {
    0% {
      transform: rotate(0deg);
      opacity: 0.1;
    }
    50% {
      opacity: 0.3;
    }
    100% {
      transform: rotate(360deg);
      opacity: 0.1;
    }
  }

  @keyframes spinCounter {
    0% {
      transform: rotate(0deg);
      opacity: 0.1;
    }
    50% {
      opacity: 0.3;
    }
    100% {
      transform: rotate(-360deg);
      opacity: 0.1;
    }
  }
}